@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #020617;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}